<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>730164830537-vbjhamsdote3p547irektpv4v14p9pin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730164830537-vbjhamsdote3p547irektpv4v14p9pin</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>730164830537-6udap9dtfr37lj7vnl5f99e2m5t60esf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAb1GgT_wlyZ5U8OckIbIx9QYbSu0vJ0H0</string>
	<key>GCM_SENDER_ID</key>
	<string>730164830537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.testandrey</string>
	<key>PROJECT_ID</key>
	<string>andreycb-a3306</string>
	<key>STORAGE_BUCKET</key>
	<string>andreycb-a3306.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730164830537:ios:b0bf4b62c6920087667a98</string>
</dict>
</plist>